@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --shopping-color: #00AAF3;
    --otg-color: #f38000;
    --fitness-color: #e83641;
    --mobile-color: #ffc907;
    --neo-color: #2b2d43;
    --dark-color: #0b0d25;
    --dark-light-color: #838383;
    --light-color: #ffffff;

    --gigantic-text: 4.768rem;
    --jumbo-text: 3.815rem;
    --h1-text: 3.052rem;
    --h2-text: 2.441rem;
    --h3-text: 1.953rem;
    --h4-text: 1.563rem;
    --h5-text: 1.25rem;
    --small-text: 0.8rem;
    --smaller-text: 0.64rem;
    --smallest-text: 0.512rem;

    --top-menu-height: 40px;
    --bottom-menu-height: 80px;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    color: var(--light-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 700;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: var(--h1-text);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {font-size: var(--h2-text);}

h3 {font-size: var(--h3-text);}

h4 {font-size: var(--h4-text);}

h5 {font-size: var(--h5-text);}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48
}

ul {list-style-type: none;}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(images/complexe-desjardins.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

menu {text-transform: uppercase;}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: var(--top-menu-height);
}

.top-menu__language-toggle {
    font-size: var(--small-text);

    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;

    border-right: 1px solid var(--light-color);
    border-left: 1px solid var(--light-color);
}

.top-menu.right {gap: 20px;}

.top-menu__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-height: var(--top-menu-height);
}

.login {padding: 0 20px 0 20px;}

.contact-us {
    background-color: var(--shopping-color);
    font-weight: 700;
    padding: 0 25px 0 25px;
}

.bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    background-color: var(--dark-color);
    min-height: var(--bottom-menu-height);
}

.bottom-menu__navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom-menu__nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 10px;

    min-height: var(--bottom-menu-height);
}

.logo {
    width: 150px;
    height: auto;
}

.navbar__menu {
    display: flex;
    gap: 60px;

    list-style-type: none;

    font-size: var(--h5-text);
    font-weight: 600;
}

.menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: var(--bottom-menu-height);
}

.menu__link__title, .top-menu__title, .hover-link {
    position: relative;
}

.menu__link__title::after, .top-menu__title::after, .hover-link::after {
    position: absolute;
    content: '';
    display: block;

    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;

    background-color: var(--light-color);

    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.top-menu__title::after {height: 1px;}

.menu__link__title:hover::after,.top-menu__title:hover::after, .hover-link:hover::after {
    width: 100%; 
    left: 0; 
}

.navbar__search {
    display: flex;
    align-items: center;

    border-left: 1px solid var(--light-color);
    padding-left: 30px;
    margin-right: 30px;
}

.navbar__search > .material-symbols-outlined {
    font-size: var(--h3-text);
    position: absolute;

}

#search-input {
	background-color: transparent;
    background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
    
	border: none;
    border-radius: 4px;

	cursor: pointer;

	margin: 3px 0;
	padding: 0 20px 0 20px;
	
    height: 37px;
    width: 0;

    font-size: 1rem;
    position: relative;

	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;  
}
#search-input:focus {
	background-color: var(--light-color);
    color: var(--dark-color);
	border: 2px solid var(--shopping-color);
	cursor: text;
	outline: 0;
	width: 230px;
}
.search-btn {
  display: none;
}

.full-block {
    width: 100%;
    left: 0;
    background-color: var(--dark-color);
    opacity: 80%;
}

.menu__link__dropdown {
    position: absolute;
    display: none;
    
    top: var(--bottom-menu-height);

    padding: 10px 40px 20px 0;
    min-width: 20rem;

    z-index: 999;
}

.menu__link:hover .menu__link__dropdown {
    display: block;
}

.dropdown__elements:hover {
    padding-left: 10px;
    border-left: 3px solid;
    transition: all 0.2s ease;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 50px;

    padding-left: 400px;
    padding-right: 400px;
    padding-top: 200px;

    min-height: calc(100vh - var(--bottom-menu-height) - var(--top-menu-height));
}

.hero__text, .hero__sub, .hero-sub, .hero-sub__sub {text-transform: uppercase;}

.hero__sub {font-size: var(--h5-text);}

#sub__trends {display: block;}

.scroll {
    align-self: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.material-symbols-outlined.icon {
    font-size: var(--h2-text);
}

.hero-sub {
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding-left: 400px;
    padding-right: 300px;
    padding-top: 200px;

    background: 
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url(images/Halifax_shopping_centre_spectacular.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
}

.hero-sub__text {
    margin-top: 200px;
    padding-right: 50%;
}

.hero-sub__sub {
    text-transform: uppercase;
}

.hero-sub__sub {
    font-size: var(--h5-text);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 50px;

    background-color: var(--neo-color);
    min-height: 50vh;
}

.footer-top-menu {
    display: flex;
    justify-content: space-between;

    padding: 0 100px 0 100px;
}

.hover-link::after {height: 1px;}

.footer-bottom-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.footer-bottom-menu__rights {
    margin-top: 20px;
}

address {
    line-height: 1.5;
}

/*<---end of index---> */
/*<---start of networks.html---> */
.header-networks {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(images/complexe-desjardins.jpg);

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-networks > .scroll {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-bottom: 15px;
    margin: 0;

    min-height: calc(100vh - var(--bottom-menu-height) - var(--top-menu-height));
}

.main-networks__containter-main {
    background-color: var(--light-color);
}

.main-networks__containter-main__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

    padding-left: 100px;

    min-height: 75vh;
}

.main-networks__containter-main__top.shopping {
    color: var(--shopping-color);
}

.prompt {
    font-size: 1rem;
    font-weight: 300;
}

.main-networks__containter-main__top__titles {
    padding-right: 500px;
}

.main-title > h1 {
    font-size: var(--jumbo-text);
}

.sub-title {

    font-size: var(--h5-text);
}

.main-networks__containter-main__bottom {
    background: url(images/digital-spectacular-CIA.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
}

.main-networks__containter-main__top.dark-section {
    background-color: var(--neo-color);
    color: var(--light-color);
}

.main-networks__containter-main__top__titles.dark-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 0;
}

.main-title.dark-section {
    padding-right: 800px;
}

.sub-title > .dark-section {
    padding-right: 300px;
}

.sub-title > span {
    text-transform: uppercase;
    font-size: var(--small-text);
}

.main-networks__containter-main__bottom.dark-section {
    background: url(images/digital-spectacular-erin-mills.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-title.statistics-table {
    display: grid;
    grid-template-columns: minmax(min-content ,400px) minmax(min-content, 550px);
    justify-content: center;

    margin-left: -100px;
}

.statistics-table__title, .statistics-table__stats {
    border-bottom: 1px solid var(--light-color);

    margin-top: 30px;

    vertical-align: bottom;
    
    line-height: 70px;
}

.statistics-table__stats {
    font-size: var(--h2-text);
    font-weight: 700;
}

.statistics-table__stats > span {
    font-size: var(--h5-text);
    font-weight: 400;
}

.main-networks__containter-main__bottom.dark-section.two {
    background: url(images/digital-horizontal-anjou.JPG);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*<---end of networks.html---> */

/*<---start of markets.html---> */
.markets {
    background-color: var(--neo-color);
}

.header-markets {
    background: none;

    min-height: 60vh;
}

.hero-markets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    min-height: calc(60vh - var(--bottom-menu-height) - var(--top-menu-height));
}

.hero-markets {
    padding-left: 100px;
}

.hero-markets__title > h1 {
    font-size: var(--gigantic-text);
}

.hero-markets__sub-title {
    padding-right: 400px;
}

.hero-markets__sub-title > p {
    font-size: var(--h5-text);
}

#search-form-markets {
    display: flex;
    gap: 8px;

    border: 1px solid var(--light-color);
    border-radius: 15px;

    padding: 8px 0 8px 22px;
    margin-top: 20px;

    width: 350px;
}

#search-input-markets {
    background: transparent;
    border: none;
    outline: none;

    font-size: 1rem;

    color: var(--light-color);

    width: 250px;
}

#search-input-markets:focus {
    background: transparent;
    border: none;
}

#search-input-markets::placeholder {
    color: var(--light-color);
    font-family: 'Poppins', sans-serif;
}

.main-markets {
    display: flex;
    justify-content: center;
    gap: 60px;

    margin-top: 40px;
}

.main-markets__block {
    border: 1px solid var(--light-color);

    min-height: 250px;
    min-width: 250px;
}

.main-markets__block-expanded {
    border: 1px solid var(--light-color);
    border-bottom: none;

    height: 45px;
    min-width: 250px;
}

.main-markets__block__content {
    display: flex;
    flex-direction: column;
    min-height: 250px;
}

.main-markets__block__content__title {
    display: flex;
    gap: 10px;

    padding: 10px 0 0 10px;
}

.main-markets__block__content__title > * {
    cursor: pointer;
}

.main-markets__block__content h4 {
    margin: 0;
    font-weight: 600;
    scroll-margin-block-start: 2em;
}

.expand {
    display: flex;
    justify-content: flex-end;

    padding: 0 10px 5px 0;
    margin-top: auto;
}

.expand > * {
    cursor: pointer;
}

.expand .material-symbols-outlined {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-markets-expanded {
    display: flex;
    flex-direction: column;
    
    margin-left: auto;
    margin-right: auto;
 
    padding: 30px;

    background-color: var(--neo-color);
    border: 1px solid var(--light-color);
    max-width: 1300px;
}

.main-markets-expanded.quebec {
    display: none;
}

.main-markets-expanded.ontario {
    display: none;
}

.main-markets-expanded.east {
    display: none;
}

.main-markets-expanded.west {
    display: none;
}

.main-markets-expanded__title {
    min-height: 125px;

}

.main-markets-expanded__markets {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(340px, 1fr));
    grid-row-gap: 50px;
}

.main-markets-expanded__markets__content {
    display: flex;
    gap: 15px;
}

.main-markets-expanded h3 {
    margin: 0;
    font-weight: 600;
}

.main-markets-expanded h5 {
    margin: 0;
    font-weight: 400;
}

.main-markets-expanded h5:hover {
    color: var(--shopping-color);
}

.markets__content__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__details {
    color: var(--dark-light-color);
    font-size: var(--small-text);
}

.expand-less {
    display: flex;
    justify-content: flex-end;

    padding: 0 10px 5px 0;
    margin-top: auto;
}

.expand-less > * {
    cursor: pointer;
}

.expand-less .material-symbols-outlined {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*<---end of markets.html---> */
/*<---start of markets-regions.html---> */

.header-markets-regions {
    background: url(images/montreal-midnight.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-regions {
    min-height: calc(100vh - var(--bottom-menu-height) - var(--top-menu-height));
}

.hero-regions__top {
    min-height: calc((100vh - var(--bottom-menu-height) - var(--top-menu-height)) / 2);
}

.hero-regions__top__title {
    padding: 50px 0 0 25px;
}

.hero-regions__top__title > h1 {
    font-weight: 600;
}

.hero-regions__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    background-color: var(--light-color);

    padding: 0 300px 0 100px;

    min-height: calc((100vh - var(--bottom-menu-height) - var(--top-menu-height)) / 2);
}

.hero-regions__bottom__title {
    color: var(--dark-color);
    font-size: var(--h3-text);
    font-weight: 700;
    line-height: 1.25;
}

.hero-regions__bottom__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: var(--dark-color);
}

.regions-statistics__title {
    color: var(--shopping-color);

    padding-left: 100px;
}

.regions-statistics__data {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    background-color: var(--shopping-color);

    height: 90px;
}

.regions-statistics__data__items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-left: 1px solid var(--light-color);
    max-height: 90px;
}

.regions-statistics__data__items__title.first {
    border-left: none;
}

.regions-statistics__data__items__title {
    text-align: center;

    font-size: var(--h2-text);
    font-weight: 700;
    line-height: 1;

    height: fit-content;
}

.regions-statistics__data__items__sub-title {
    text-align: center;

    font-size: var(--small-text);

    
}

/*<---end of markets-regions.html---> */


@media only screen and (max-width: 1700px) {
    .hero, .hero-sub {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        min-width: 100vh;
    }

    .top-menu__language-toggle {
        font-size: var(--smaller-text);
    }

    .top-menu {
        font-size: var(--small-text);
    }

    .navbar__menu {
        font-size: 1rem;
    }

    #search-input:focus {
        font-size: var(--small-text);
        
        height: 30px;
        width: 200px;
        margin: 2px 0;
    }
    
    .hero {
        padding-top: 100px;
    }

    .hero__sub, .hero-sub__sub {
        font-size: 1rem;
    }

    .hero-sub__text {
        padding-right: 35%;
    }

}

@media only screen and (max-width: 1200px) {

    .top-menu.right {
        gap: 10px;
    }

    .navbar__menu {
        gap: 40px;
    }
}

@media only screen and (max-width: 1100px) {

    .top-menu.right {
        gap: 8px;
    }

    .navbar__menu {
        gap: 30px;
    }

    #search-input:focus {
        width: 170px;
    }
}

@media only screen and (max-width: 1000px) {

    h1 {
        font-size: var(--h2-text);
        margin: 0;
    }

    h5 {
        font-size: 1rem;
        margin: 2.5rem 0 1rem;
    }

    .logo {
        width: 125px;
    }

    .hero__sub, .hero-sub__sub, address {
        font-size: var(--small-text);
    }

    footer {
        line-height: 1.25;
    }

    .footer-top-menu__list li > .hover-link {
        font-size: var(--smaller-text);
    }

    .footer-bottom-menu {
        font-size: var(--small-text);
    }

    .linkedin-icon {
        width: 40px;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {
    
}